.App {
	text-align: center;
	background-color: #efefef;
	min-height: 100vh;
	align-items: center;
}

.App > div {
	padding: 30px 20px;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

.alignLeft {
	text-align: left;
}

.alightRight {
	text-align: right;
}

div.ui.icon.input {
	margin-left: 0 !important;
}

.container {
	max-width: 800px;
	margin: 10px auto;
}

.pageTitle {
	color: #03365c;
	margin: 20px;
}

.darkBlue {
	color: #03365c;
}

.clear {
	clear: both;
}

.arrow.left.goBack {
	color: #767779;
	margin-right: -21px;
}

.arrow.left.goBack:hover {
	color: black;
}

.pagination {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 0;
	clear: both;
}

.label span {
	color: #03365c;
	line-height: 14px;
	margin-bottom: 10px;
	display: flex;
	font-size: 15px;
}

.itemTitle {
	font-size: 20px;
	color: #04497d;
}

.menuDrawer {
	padding: 20px 0 !important;
}

.menuItem {
	padding: 30px !important;
	display: flex !important;
	font-size: 17px !important;
	line-height: 25px !important;
}

.menuItem i {
	margin: 0 !important;
	margin-right: 15px !important;
}

.emptyList {
	margin-top: 50px !important;
	color: gray;
	width: 100%;
}

.toggle {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px !important;
}

.flex {
	display: flex;
	justify-content: space-between;
}

#login_screen,
#auth_screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#login_screen .login {
	margin-top: 20px;
	width: 200px;
}

#login_screen .register {
	margin-bottom: 20px;
	width: 200px;
}

#login_screen .icon {
	margin-left: 10px;
}

.login_container,
.auth_container {
	margin: 30px;
	width: 400px;
	max-width: 80vw;
}

#home_screen .container .button.itemContainer {
	padding: 20px;
	width: 100%;
}

#home_screen .itemSubtitle {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: bold;
}

#home_screen .button {
	width: 150px;
}

#home_screen .container .button.profile {
	margin: 0;
	float: right;
	margin-left: -85px;
}

#home_screen .pagination .button {
	margin: 0;
}

#home_screen .icon {
	margin-left: 10px;
}

#home_screen .logout {
	margin: 50px 20px;
}

#home_screen .container .button,
#home_screen .container .input {
	margin-top: 20px;
	width: auto;
}

#restaurant_screen .itemContainer {
	background-color: #e0e1e2;
	border-radius: 4px;
	padding: 20px;
	margin-top: 20px;
	width: 100%;
}

#restaurant_screen .itemSubtitle {
	font-size: 20px;
	text-align: right;
	margin-right: 50px;
}

#restaurant_screen .button {
	margin-bottom: 10px;
}

#restaurant_screen .cart {
	margin: 0;
	font-size: 15px;
}

#restaurant_screen .cart i {
	margin: 0;
	margin-left: 5px;
}

#restaurant_screen .blocked {
	font-size: 20px;
	color: red;
	font-weight: 500;
}

#order_screen {
	align-items: center;
}

#order_screen .button {
	padding: 20px;
	height: 58px;
	width: 100%;
}

#order_screen .orderInfo span {
	margin: 0 40px;
}

#single_order_screen .item {
	padding: 20px;
	margin: 10px 0;
	background-color: #e0e1e2;
	border-radius: 4px;
}

#single_order_screen .orderInfo {
	color: #03365c;
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
}

#single_order_screen .mealInfo {
	color: #04497d;
	font-size: 16px;
	font-weight: bold;
}

#single_order_screen .extraInfo {
	font-size: 15px;
	font-weight: 500;
	margin: 0;
}

#single_order_screen .statusButton {
	display: flex;
	justify-content: flex-end;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 600px) {
	.menuDrawer {
		padding: 10px 0 !important;
	}

	#home_screen .container .input {
		margin: 0 20px;
		float: none;
	}
	#home_screen .container .button.profile {
		width: 45px;
	}
	#home_screen .icon {
		margin-left: -10px;
	}

	#home_screen .logout {
		width: auto;
	}

	#home_screen .logout i {
		display: none;
	}

	#order_screen .orderInfo span {
		margin: 0 10px;
	}

	.menuItem {
		padding: 20px !important;
		font-size: 15px !important;
	}
}
